.callout[data-callout="powered-by"] {
    --callout-color: 200, 200, 200;
    --callout-icon: lucide-box;
    background: rgba(0, 0, 0, 0.1)
}

.callout[data-callout="buy"] {
    --callout-icon: lucide-shopping-cart;
    /* --callout-color: 255, 255, 255, 0.2; */
    /* background: rgba(0, 0, 0, 0.1) */
}

table {
  table-layout: auto !important;
  width: unset !important;
  max-width: 100%;
}
