.components-page-box-image-image-off,
.components-page-box-image-image-off * {
  box-sizing: border-box;
}
.components-page-box-image-image-off {
  background: #ffffff;
  border-radius: 40px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.components-page-box-image-image-off .icon-wrapper-instance {
  flex-shrink: 0 !important;
  width: unset !important;
  height: unset !important;
}
